/*Fonts - headings*/
body h1,
body h2,
body h3,
body h4,
body h5,
body h6{
    color: #0E4721;
}
h1, h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}
.warn{
    color: red;
}
/*----BUTTONS-----*/


button{
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 5px 8px;
    font-size: 12px;
    line-height: 1.8;
    appearance: none;
    box-shadow: none;

}
button, .btn:focus {
    outline: none
}

button, button.btn, .btn {
    color: #fff;
    background-color: #6496c8;
    text-shadow: -1px 1px #417cb8;
    border: none;
    border-radius: 5px;
}

button.btn-min{
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0;
}

button.btn-loud{
    color: #fff;
    background-color: red;
    text-shadow: -1px 1px darkred;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;

}
/*.game-info{*/
    /*background: #fff;*/
/*}*/
/*---------------- MENUS ----------------*/
/*MAIN MENU OVERWRITES*/

body nav {
    margin: 0;
    padding: 0;
    height: 40px;
}
body .sf-menu {
    z-index: 990;
    position: relative;
    float: none;
    text-align: center;
}
body .sf-menu > li {
    display: inline-block;
    float: left;
    width: 16.6%;
    min-height: 40px;
    position: relative;
    text-transform: uppercase;
}
body .sf-menu > li + li {
    border-left: 1px solid #FFFFFF;
    margin-left: -1px;
}
body .sf-menu > li > span a,
body .sf-menu > li > span {
    display: block;
    text-align: center;
    position: relative;
    color: #FFF;
    font: 400 14px/40px 'Roboto', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.3px;
    padding: 0;
    -webkit-transition: 0.4s all ease;
    transition: 0.4s all ease;
}
body .sf-menu > li > span > a:hover,
body .sf-menu > li > span:hover {
    background: #FFF;
    color: #0E4721;
    cursor: pointer;
    -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease;
}

.user-name, .user-pw{
    text-align: center;
    position: relative;
    color: #FFF;
    font: 400 14px/40px 'Roboto', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.3px;
    padding: 0;
    -webkit-transition: 0.4s all ease;
    transition: 0.4s all ease;
}
.user-input{
    border-left: 1px solid #fff;
    margin-left: -1px;
    float: right;
    padding-left: 20px;
}
.user-input input{
    margin-top: 9px;
}
.user-wrap h4{
    color: #fff;
}


/*---------------- END MAIN MENU----------------*/

/*----- PAGE STRUCTURE --------*/

#app{
    /*background-color: #000;*/
    min-height: 100vh;
    position: relative;
}
/*
*--------- HOME PAGE BANNER ----------*
*/
.page-banner{
    /*min-height: 400px;*/
    /*padding: 40px 0;*/
}
.page-banner .logo-wrap{
    margin-bottom: -90px;
}
.page-banner .logo-wrap > img{
    max-height: 80px;
    width: auto;
    margin: 0 auto;
}

.lottery-image{
    margin-left: -60px;
    height: 200px;
    margin-bottom: 85px;
}

body p.tagline{
    color: #fff;
    text-transform: uppercase;
    text-align: right;
    padding-top: 7px;
}
.jp-wrap{
    margin-bottom: 20px;
}
.jackpots span{
    font-family: Bevan;
    font-size: 155%;
    line-height: 145%;
}
.jackpots .jp{
    font-size: 275%;
    display: block;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
}
.page-banner span.btn-loud{
    padding: 15px 28px;
    font-size: 120%;
    color: #fff;
    background-color: red;
    text-shadow: -1px 1px darkred;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    display: inline-block;
    float: left;
}
.lottery-btn .arrow{
    max-height: 18px;
    margin-left: 8px;
}
.page-banner span.btn-loud:hover{
    opacity: 0.8;
}


/*
*--------------- Form CSS ---------------*
*/
.inner-modal h1,
.inner-modal p,
.inner-modal,
.inner-modal div {
    text-align: left;
}
body p, body label{
    color: #2A2D34;
}
.form-section{
    margin-bottom: 20px;
}
.form-description{
    margin-bottom: 10px;
}


/*----- POKER MENU -----*/
.poker-gm span a:hover{
    background-color: #004900;
    -webkit-transition: 0.4s all ease;
    transition: 0.4s all ease;
}
.poker-gm span{
    display: block;
    margin: 10px 0;
}
.poker-gm span a{
    display: block;
    color: #fff;
    height: 70px;
    width: 120px;
    background-color: #00A000;
    border-radius: 50%;
    padding-top: 50px;
}
.poker-menu .poker-gm:last-child span a{
    padding-top: 40px;
    height: 80px;
}

/*GAME LANDING PAGES*/
.gm-landing-page-info-wrap *{
    color: #000;
}
.gm-landing-page-info-wrap h1{
    text-align: left;
}
.gm-landing-page-info-wrap h2{
}
.gm-landing-page-info-wrap p{
    text-align: left;
    margin-bottom: 20px;
}
.gm-landing-page-info-wrap{
    padding: 20px 0 40px;
}
.gm-img-btn span img{
    max-height: 80px;
    width: auto;
}
.game-menu{
    /*background-color: #200000;*/
}



/*-----------------
 * * * MODAL * * *
-------------------*/
/*modal text default color: white*/
.v--modal p, .v--modal label{ color: #fff;}
/* --- Modal Header --- */
.modal-header{
    display: flex;
    background-color: #000;
}
.modal-game-menu-wrapper{
    float: left;
    width: 100%;
}

/* ---- SITE INFO  ---- */
.modal-site-info-wrap{
    width: calc(20% - 15px);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 15px;
    text-align: center;
}
.modal-site-info-wrap .site-name,
.modal-site-info-wrap .site-players{
    display: inline-block;
    width: auto;
}
.modal-site-info-wrap .site-players {
    text-align: right;
    width: 33%;
}
.modal-site-info-wrap .site-name{
    width: 65%;
}
.modal-site-info-wrap .jp-amt,
.modal-site-info-wrap .jp-title{
    display: block;
    text-align: center;
}
/* -- MAIN MODAL BACKGROUND and WRAP and POSITION -- */

.main-modal.v--modal-overlay{
    background: rgba(0, 0, 0, 0.75);
}
.main-modal .v--modal{
    top: 20px !important;
    border-radius: 12px;
    min-height: 80vh;
}

/*MODAL DISPLAY (GAME and ACCOUNT info section)*/
.modal-display{
    padding: 0 15px;
}
.grid{
    float: left;
}
.one-quarter{
    width: 15%;
}
.three-fourth{
    width: 85%;
}

/*
 * TRANSITION STYLES:
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
.modal-enter {
    opacity: 0;
}
.modal-leave-active {
    opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
/*--- END TRANSITION STYLES ---*/

/* MODAL GAMES*/
/*universal*/
.modal-game-title{
    color: #f5f5f5;
}
/*SCRATCHER*/
.scratcher-game-info > img{
    max-width: 100%;
    height: auto;
}
/*POKER*/
/*Lotto*/
/*Bingo*/


/*-----
****  MODAL HEADER  ****
-----*/
/* ---- LOGO ---- */
.modal-logo-wrap{
    width: 130px;
}
.modal-logo-wrap img{
    display: block;
    width: 50%;
    margin: 0 auto;
}
.modal-logo-wrap{
    font-size: 12px;
}


/*---------
****  MODAL MENU  ****
-----*/
.modal-game-menu-wrap {
    position: relative;
    /*background-color: rgba(0, 0, 0, 0.6);*/
    /*height: 90px;*/
}
.modal-nav{
    margin: 0;
    width: 100%;
}
/* SECONDARY MENU : MODAL MENU */
.game-menu{
    background: #fff;
    min-height: 70px;
}
.game-menu > div > div> div:first-child > .gm-item{
    border-left:none;
}
.modal-nav > div{
    text-align: center;
    text-transform: uppercase;
    width: calc(16.66% - 14px);
    background-color: transparent;
    margin: 0 5px;
    -webkit-border-radius:0.6em;
    -moz-border-radius:0.6em;
    border-radius: 0.6em;
    float: left;
    font: 400 14px/40px 'Roboto', sans-serif;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    border: 2px solid yellow;
    cursor: pointer;
}
.modal-nav > div.account{
    border: 2px solid #00FF2A;
}
.modal-nav > div.deposit{
    border: 2px solid red;
}
.modal-nav > div:first-child{
    margin-left:0;
}
.modal-nav > div:last-child{
    margin-right:0;
}
.modal-nav ul {
    display: none;
    padding-top: 10px;
    position: absolute;
    left: 0;
    right: 0;
}
.modal-nav .gm-item:hover ul{
    display: block;
    /*display: table-row;*/
    cursor: pointer;
    width: 100%;
    /*table-layout: fixed;*/
}
.modal-nav .gm-item:hover{
    box-shadow: 0 0 20px 20px yellow inset;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    color: #000;

}
.modal-nav .gm-item.deposit:hover{
    box-shadow: 0 0 20px 20px red inset;
}
.modal-nav .gm-item.account:hover {
    box-shadow: 0 0 20px 20px #00FF2A inset;
}
.modal-info-display-wrapper{
    width: 100%;
}
.user-balance-display{
    float: left;
    width: 30%;
}
.user-name-display{
    float: left;
    width: 70%;
}
.user-name-display h4{
    color: #fff;
    line-height: 14px;
}
.user-balance-display > div{
    line-height: 14px;
}
.toplevel li{
    float: left;
    background-color: rgba(255, 0, 20, .8);
    text-align: center;
    cursor: pointer;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    line-height: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 20px;
}

.modal-game-display-wrapper .account-nav{
    float: left;
    width: 260px;
    margin-top: 180px;
    margin-bottom: 20px;
}

#acctMenu li{
    width: calc( 16.6% - 5px );
    /*width: 16%;*/
}
#lottoGames li{
    width: calc( 33% - 5px);
}
#pokerGames li {
    width: calc( 20% - 5px);
}
#scratcherGames li{
    width: calc( 16% - 5px);
}
#bingoGames li{
    width: calc( 33% - 5px);
}

/*backgrounds*/
/*FOOTER*/
.footer-wrapper{
    min-height: 10vh;
    background-color:#444444;
}
/*main-content*/
.main-content-wrap{
    min-height: 30vh;
}
/*nav/main menu*/
body #header,
body nav,
body .sf-menu > li > span a,
body .sf-menu > li > span {
    background-color: #000;
    border-color:#000;
}
/*Modal*/
.main-modal .v--modal {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,2f261c+100 */
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top, #000000 0%, #2f261c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #000000 0%,#2f261c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #000000 0%,#2f261c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#2f261c',GradientType=0 ); /* IE6-9 */
}
.pageheader,
.VueCarousel-pagination{
    background: #fff;
}

/*WEBSITE VIEWS FOR GAME ITEMS*/
.game-browser{
    min-height: 50vh;
    padding-bottom: 40px;
    padding-top: 60px;
}
.game-browser h2{
    text-align: left;
    color: #000;
}
.game-choice {
    background-color: #000;
    height: 120px;
    width: 100%;
}
.game-choice:hover{
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
.game-choice .scratcher{
    padding-top: 0;
}
.game-choice .scratcher img{
    height: auto;
    width: 100%;

}
.game-choice img {
    width: 45%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.game-choice-info {
    padding-top: 15px;
}
.game-choice-info p{
    color: #fff;
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
    font-size: 125%;
}
.gm-choices .grid_3{
    margin-top: 15px;
}
/*SCATCHER MODAL PICKS*/
.scratcher-type-picks{
    width: 90%;
    margin: auto;
}
.scratcher-type-picks .grid-one-third{
    width: calc(33.33% - 40px);
    display: inline-block;
    margin: 20px;
}
.scratcher-type-picks .grid-one-third:first-child,
.scratcher-type-picks .grid-one-third:nth-child(4){
    margin-left: 0;
}
.scratcher-type-picks .grid-one-third:nth-child(3),
.scratcher-type-picks .grid-one-third:nth-child(6){
    margin-right: 0;
}

.scratcher-type-picks .game-choice {
    height: auto;
}

/*---------- Login Modal ---------*/
.main-login .v--modal-box{
    min-height: 525px;
}
.user-form-wrap{
    padding: 80px 40px 0 40px;
}
.user-form-wrap h3,
.user-form-wrap label,
.user-form-wrap p{
    color: #000;
}
.user-form-wrap h3{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
.user-form-wrap form{
    width: 300px;
    margin: auto;
}

.user-form-wrap form div{
    margin-bottom: 15px;
}
.user-form-wrap .login-form{
    margin-top: 50px;
}
.user-form-wrap form label,
.user-form-wrap form input{
    display: block;
}
.user-form-wrap form input{
    width: 100%;
}
.user-form-wrap form button{
    display: block;
    text-align: center;
    margin: auto;
}
.login-toggle{
    text-align: center;
    width: 100%;
    background-color: #aeaeae;
    margin-top: 20px;
    padding: 10px 0;
    position: absolute;
    /*bottom: 0;*/
    top: -20px;
    left: 0;
    right: -40px;
}
.login-toggle span{
    color: #417cb8;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}
.rewards-info{
    margin-bottom: 20px;
}
